.info {
    background-color: yellow;
    border: '1px solid orange'
}
.warning {
    background-color: red;
    border: '1px solid green'
}
danger {
    background-color: black;
    color: 'white';
    border: '1px solid gray'
}